<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Year</th>
        <th scope="col">Passed</th>
      </tr>
    </thead>
    <tbody>
      @for (scientist of scientists; track scientist.id) {
        <tr>
          <td>{{scientist.id}}</td>
          <td>{{scientist.first}}</td>
          <td>{{scientist.last}}</td>
          <td>{{scientist.year}}</td>
          <td>{{scientist.passed}}</td>
        </tr>
      }
    </tbody>
  </table>